@media only screen and (max-width: 600px) {
  .burger {
    display: block;
  }

  .App {
    grid-template-columns: 1fr;
    height: 100vh;
    grid-template-rows: 50px 1fr;
  }

  .label-wrapper {
    color: rgba(0, 0, 0, 0.847);
  }

  .menu-header {
    padding-top: 14px;
  }

  .sidebar-footer-wrapper {
    max-width: unset;
    /* margin-top: 10px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.479);
  }

  .sidebar {
    background-color: white;
    display: grid;
    grid-template-rows: 40px 1fr;
  }

  .searchBar {
    width: 99%;
  }

  .sidebar-topics-wrapper {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
    height: auto;
    z-index: 1;
    /* width: calc(100% - 20px); */
    width: 100%;
    top: 51px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    /* background: #eef0f6c2 !important; */
    /* backdrop-filter: blur(5px) !important; */
    font-size: 16px;
    /* border-radius: 0px 0px 10px 10px; */
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.479);
    grid-template-rows: 130px 1fr;
    /* transition: max-height 0.3s ease-in-out; */

    grid-template-areas:
      "topics-footer"
      "topics";
  }

  .symbol-wrapper {
    padding: 2px 3px;
  }

  .label-wrapper {
    padding-top: 2px;
  }

  .sidebar-topics-wrapper[aria-expanded="true"] {
    max-height: 0px;
    /* transition: max-height 0.3s cubic-bezier(0, 1, 0, 1); */
    /* transition: max-height 0.3s ease-in-out; */
    transition: max-height 0.3s ease;
    border: 0px;
  }

  .article-list-wrapper {
    padding: 10px;
  }

  .topic-list-entry-wrapper {
    margin-bottom: 8px;
  }

  .btn-create-article {
    right: 30px;
    bottom: 30px;
  }

  .topic-list-header {
    margin-top: 10px;
  }
}
